<a href="https://colab.research.google.com/github/gramirezgh/DataScienceMAE/blob/master/index_mundi_Scraping_Precios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![sslogo](https://github.com/stratascratch/stratascratch.github.io/raw/master/assets/sslogo.jpg)

# Web scraping in Python

Scraping refers to extracting useful data from web pages which are written in a programming language called HTML. To scrap data from the HTML tree we first have to download the web page to our PC.

We will use the following packages to achieve the tasks in this lesson:
- [`requests`](http://docs.python-requests.org/en/master/)
- [`beautifoulsoup4`](https://www.crummy.com/software/BeautifulSoup/bs4/doc/#quick-start)

### Install the packages using pip

In [ ]:
!pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)

In [ ]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)

### Import the modules

In [ ]:
import numpy as np
import pandas as pd
import requests
import bs4
import lxml.etree as xml

In [ ]:
from datetime import date
from datetime import datetime
from datetime import timedelta
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
''' import base64
URL = "https://excel.officeapps.live.com/x/_layouts/XlFileHandler.aspx?WacUserType=WOPI&usid=80a67a5e-a68f-4c6d-85ee-214a549fc86a&NoAuth=1&waccluster=BR2"
def create_onedrive_directdownload (onedrive_link):
    data_bytes64 = base64.b64encode(bytes(onedrive_link, 'utf-8'))
    data_bytes64_String = data_bytes64.decode('utf-8').replace('/','_').replace('+','-').rstrip("=")
    resultUrl = f"https://api.onedrive.com/v1.0/shares/u!{data_bytes64_String}/root/content"
    return resultUrl

import pandas as pd 
onedrive_url = "https://1drv.ms/x/s!AgbSavRErmU0gYRhOG3_CSPzPGplfQ?e=3a97N7"
direct_download_url = create_onedrive_directdownload(onedrive_url)
df = pd.read_excel(direct_download_url) '''

' import base64\nURL = "https://excel.officeapps.live.com/x/_layouts/XlFileHandler.aspx?WacUserType=WOPI&usid=80a67a5e-a68f-4c6d-85ee-214a549fc86a&NoAuth=1&waccluster=BR2"\ndef create_onedrive_directdownload (onedrive_link):\n    data_bytes64 = base64.b64encode(bytes(onedrive_link, \'utf-8\'))\n    data_bytes64_String = data_bytes64.decode(\'utf-8\').replace(\'/\',\'_\').replace(\'+\',\'-\').rstrip("=")\n    resultUrl = f"https://api.onedrive.com/v1.0/shares/u!{data_bytes64_String}/root/content"\n    return resultUrl\n\nimport pandas as pd \nonedrive_url = "https://1drv.ms/x/s!AgbSavRErmU0gYRhOG3_CSPzPGplfQ?e=3a97N7"\ndirect_download_url = create_onedrive_directdownload(onedrive_url)\ndf = pd.read_excel(direct_download_url) '

In [ ]:
dicc_index_mundi = pd.read_excel("/content/drive/My Drive/Colab Notebooks/data/precio/dicc_precios_INDEX_MUNDI.xlsx")
dicc_index_mundi.head()

                                mercancia  ...           sector
0                       aceite-de-girasol  ...      OLEAGINOSAS
1                                 algodon  ...  MATERIAS PRIMAS
2  azucar-precio-de-importacion-americano  ...   AGROINDUSTRIAL
3    azucar-precio-de-importacion-europeo  ...   AGROINDUSTRIAL
4                            cafe-arabica  ...          BEBIDAS

[5 rows x 10 columns]

In [ ]:
URL = "https://www.indexmundi.com/es/precios-de-mercado/"
''' 
fecha_ini = '01/01/2021'

dia_ini = fecha_ini[0:2]
mes_ini = fecha_ini[3:5]
anio_ini = fecha_ini[6:10]
 '''

" \nfecha_ini = '01/01/2021'\n\ndia_ini = fecha_ini[0:2]\nmes_ini = fecha_ini[3:5]\nanio_ini = fecha_ini[6:10]\n "

In [ ]:
''' lis_mercancia = [
    'cafe-arabica','cafe-robusta','granos-de-cacao','te','arroz','cebada','maiz','sorgo','trigo','trigo-canadiense','trigo-srw','carne','cerdo','cordero','pollo','azucar','azucar-precio-de-importacion-americano','azucar-precio-de-importacion-europeo','aceite-de-girasol','aceite-de-soja','harina-de-soja','mani','soja','algodon','copra','cueros','goma','lana-fina','lana-gruesa','madera-contrachapada','madera-dura','madera-dura-aserrada','madera-suave','madera-suave-aserrada','pulpa-de-celulosa','acero-laminado-en-caliente','acero-laminado-en-frio','alambre-de-acero','aluminio','barras-de-acero','cobre','estano','mineral-de-hierro','niquel','oro','plata','plomo','uranio','zinc','cloruro-de-potasio','fosfato-diamonico','fosforita','superfosfato-triple','urea',
] '''
lis_mercancia = dicc_index_mundi['mercancia']
num_meses = 15 # 15 desde 2020

In [ ]:
lis_mercancia

0                          aceite-de-girasol
1                                    algodon
2     azucar-precio-de-importacion-americano
3       azucar-precio-de-importacion-europeo
4                               cafe-arabica
5                               cafe-robusta
6                                      carne
7                                     cebada
8                          fosfato-diamonico
9                                  fosforita
10                           granos-de-cacao
11                      madera-contrachapada
12                               madera-dura
13                                      mani
14                                     pollo
15                         pulpa-de-celulosa
16                                     sorgo
17                       superfosfato-triple
18                                        te
19                                      urea
Name: mercancia, dtype: object

In [ ]:
tabla1 = 0;
columns = ''
df1 = pd.DataFrame(columns=['Mes','Precio','Tasa de cambio','nombre_internacional','unidad','mercancia'])
for item in lis_mercancia:
  param = {'mercancia': item, 'meses':num_meses}
  print('===>',param)
  web_page = bs4.BeautifulSoup(requests.get(URL, params=param).text, "lxml")
  table_precios = web_page.find_all(name='table', attrs={"class": 'tblData'})[0]
  producto = web_page.find(id='lblSeriesDescription').text
  unidad = web_page.find(id='lblSeriesUnit').text
  
  if tabla1 == 0:    
    columns = list(table_precios.find_all('tr'))[0]
    columns = [elem.text.strip("\n ") 
            for elem in columns 
           if type(elem) != bs4.NavigableString]
    tabla1 = 1       
         
  # tabla    
  rows = []
  for i, row in enumerate(table_precios.find_all("tr")):
    # Skip the header
    if i < 1 or type(row) == bs4.NavigableString:
        continue

    tds = row.find_all("td")
    row = [tr.text.strip() for tr in tds if tr.text.strip()]
    if row:
      rows.append(row)    
  
  
  data_frame = pd.DataFrame(rows, columns=columns)
  data_frame['nombre_internacional'] = producto
  data_frame['unidad'] = unidad  
  data_frame['mercancia'] = item
  df1 = df1.append(data_frame, ignore_index = True)

===> {'mercancia': 'aceite-de-girasol', 'meses': 15}
===> {'mercancia': 'algodon', 'meses': 15}
===> {'mercancia': 'azucar-precio-de-importacion-americano', 'meses': 15}
===> {'mercancia': 'azucar-precio-de-importacion-europeo', 'meses': 15}
===> {'mercancia': 'cafe-arabica', 'meses': 15}
===> {'mercancia': 'cafe-robusta', 'meses': 15}
===> {'mercancia': 'carne', 'meses': 15}
===> {'mercancia': 'cebada', 'meses': 15}
===> {'mercancia': 'fosfato-diamonico', 'meses': 15}
===> {'mercancia': 'fosforita', 'meses': 15}
===> {'mercancia': 'granos-de-cacao', 'meses': 15}
===> {'mercancia': 'madera-contrachapada', 'meses': 15}
===> {'mercancia': 'madera-dura', 'meses': 15}
===> {'mercancia': 'mani', 'meses': 15}
===> {'mercancia': 'pollo', 'meses': 15}
===> {'mercancia': 'pulpa-de-celulosa', 'meses': 15}
===> {'mercancia': 'sorgo', 'meses': 15}
===> {'mercancia': 'superfosfato-triple', 'meses': 15}
===> {'mercancia': 'te', 'meses': 15}
===> {'mercancia': 'urea', 'meses': 15}

In [ ]:
df1

           Mes  ...          mercancia
0    ene. 2020  ...  aceite-de-girasol
1    feb. 2020  ...  aceite-de-girasol
2    mar. 2020  ...  aceite-de-girasol
3    abr. 2020  ...  aceite-de-girasol
4    may. 2020  ...  aceite-de-girasol
..         ...  ...                ...
286  dic. 2020  ...               urea
287  ene. 2021  ...               urea
288  feb. 2021  ...               urea
289  mar. 2021  ...               urea
290  abr. 2021  ...               urea

[291 rows x 6 columns]

In [ ]:
#df1.to_excel("precios_index_mundi.xlsx", index=False)

In [ ]:

''' web_page = bs4.BeautifulSoup(requests.get(URL, params=param).text, "lxml")
table_precios = web_page.find_all(name='table', attrs={"class": 'tblData'})[0] '''

' web_page = bs4.BeautifulSoup(requests.get(URL, params=param).text, "lxml")\ntable_precios = web_page.find_all(name=\'table\', attrs={"class": \'tblData\'})[0] '

In [ ]:
''' producto = web_page.find(id='lblSeriesDescription').text
unidad = web_page.find(id='lblSeriesUnit').text
 '''

" producto = web_page.find(id='lblSeriesDescription').text\nunidad = web_page.find(id='lblSeriesUnit').text\n "

In [ ]:
''' columns = list(table_precios.find_all('tr'))[0]
columns = [elem.text.strip("\n ") 
           for elem in columns 
           if type(elem) != bs4.NavigableString] '''

' columns = list(table_precios.find_all(\'tr\'))[0]\ncolumns = [elem.text.strip("\n ") \n           for elem in columns \n           if type(elem) != bs4.NavigableString] '

In [ ]:
''' rows = []
for i, row in enumerate(table_precios.find_all("tr")):
    # Skip the header
    if i < 1 or type(row) == bs4.NavigableString:
        continue

    tds = row.find_all("td")
    row = [tr.text.strip() for tr in tds if tr.text.strip()]
    if row:
      rows.append(row)    
    
data_frame = pd.DataFrame(rows, columns=columns) '''

' rows = []\nfor i, row in enumerate(table_precios.find_all("tr")):\n    # Skip the header\n    if i < 1 or type(row) == bs4.NavigableString:\n        continue\n\n    tds = row.find_all("td")\n    row = [tr.text.strip() for tr in tds if tr.text.strip()]\n    if row:\n      rows.append(row)    \n    \ndata_frame = pd.DataFrame(rows, columns=columns) '

In [ ]:
''' data_frame.head() '''

' data_frame.head() '

In [ ]:

dicc_mes_num = {'ene':'1','feb':'2','mar':'3','abr':'4','may':'5','jun':'6','jul':'7','ago':'8','sep':'9','oct':'10','nov':'11','dic':'12'}
df1

           Mes  ...          mercancia
0    ene. 2020  ...  aceite-de-girasol
1    feb. 2020  ...  aceite-de-girasol
2    mar. 2020  ...  aceite-de-girasol
3    abr. 2020  ...  aceite-de-girasol
4    may. 2020  ...  aceite-de-girasol
..         ...  ...                ...
286  dic. 2020  ...               urea
287  ene. 2021  ...               urea
288  feb. 2021  ...               urea
289  mar. 2021  ...               urea
290  abr. 2021  ...               urea

[291 rows x 6 columns]

In [ ]:
def get_num_mes(mes):
  global dicc_mes_num
  return dicc_mes_num.get(mes[0:3])


df2 = pd.DataFrame(columns=['precio','gestion','mes','dia','mercancia'])
df2['precio'],df2['gestion'],df2['mes'],df2['dia'],df2['mercancia'] = df1['Precio'],df1['Mes'].str[5:], df1['Mes'].str[0:3].apply(lambda x: get_num_mes(x)),'1',df1['mercancia']
df2

     precio gestion mes dia          mercancia
0    840,33    2020   1   1  aceite-de-girasol
1    823,00    2020   2   1  aceite-de-girasol
2    730,00    2020   3   1  aceite-de-girasol
3    732,10    2020   4   1  aceite-de-girasol
4    738,26    2020   5   1  aceite-de-girasol
..      ...     ...  ..  ..                ...
286  245,00    2020  12   1               urea
287  265,00    2021   1   1               urea
288  335,00    2021   2   1               urea
289  352,88    2021   3   1               urea
290  328,10    2021   4   1               urea

[291 rows x 5 columns]

In [ ]:
df2['precio'] = df2['precio'].str.replace('.','')
df2['precio'] = df2['precio'].str.replace(',','.')
df2['precio'] = df2['precio'].astype(float)
df2

     precio gestion mes dia          mercancia
0    840.33    2020   1   1  aceite-de-girasol
1    823.00    2020   2   1  aceite-de-girasol
2    730.00    2020   3   1  aceite-de-girasol
3    732.10    2020   4   1  aceite-de-girasol
4    738.26    2020   5   1  aceite-de-girasol
..      ...     ...  ..  ..                ...
286  245.00    2020  12   1               urea
287  265.00    2021   1   1               urea
288  335.00    2021   2   1               urea
289  352.88    2021   3   1               urea
290  328.10    2021   4   1               urea

[291 rows x 5 columns]

In [ ]:
df3 = df2.merge(dicc_index_mundi, on='mercancia', how='left')

In [ ]:
df3 = df3.iloc[:, [7,11,12,9,10,1,2,3,0,13,8]]

In [ ]:
df3.to_excel("precios_INDEX_MUNDI.xlsx", index=False)